{{!-- Navigation bar --}}
<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img src="images/BT.png" alt="logo" width="40px" height="40px">
    </a>
    <a id="logoutLink" class="navbar-brand" href="/logout">
      Logout
    </a>
  </div>
  {{!-- <div class="container-fluid">
    
  </div> --}}
</nav>

{{!-- Main Section --}}
<main>
  <div class="container-fluid main-box">
    {{!-- Welcome User --}}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="hi-user">Welcome <span class="member-name"></span></h2>
        </div>
      </div>
    </div>

    {{!-- Total Budget and Budget Left --}}
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1>$ <span id="total-budget"></span></h1>
          <p>Total Budget</p>
          <div class="dropdown">
            <button class="btnCustom btnCustom-default dropdown-toggle align-baseline" type="button" id="editDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              edit
            </button>
              
            <div class="dropdown-menu" onClick="event.stopPropagation();" aria-labelledby="editDropDown">
              <div class="form-group">
                <label for="budget">Enter your budget</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <span class="input-group-text" id="inputGroup-sizing-default dollar-sign">$</span>
                  </div>
                  <input type="text" class="form-control" id="budget" aria-label="$" aria-describedby="dollar-sign">
                </div>
                <button type="submit" id="save-budget" class="btn expBtn"><span>Save</span></button>
                <button type="submit" id="close-budget" class="btn expBtn"><span>Cancel</span></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-md-offset-3">
          <h1>$ <span id="budget-left"></span></h1>
          <p>Budget Left</p>
        </div>
      </div>
      <hr>
    </div>

    <div class="container second-row">
      <div class="row">

        {{!-- Chart --}}
        <div class="col-md-8">
          <figure class="highcharts-figure">
            <div id="chart-container"></div>
          </figure>
        </div>

        {{!-- Add Expense Dropdown Menu Button --}}
        <div class="col-md-4 dd-box">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add New Expense
            </button>
              
            <div class="dropdown-menu spendingInput" onClick="event.stopPropagation();" aria-labelledby="dropdownMenuButton">
              <div class="form-group">
                {{!-- Amount Spent field --}}
                <label for="amount">Amount</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <span class="input-group-text" id="inputGroup-sizing-default dollar-sign">$</span>
                  </div>
                  <input type="text" class="form-control" id="amount" aria-label="$" aria-describedby="dollar-sign">
                </div>
                
                {{!-- Description field --}}
                <label for="amount">Description</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="amount">
                </div>

                {{!-- Category Dropdown --}}
                <label for="category-menu">Category</label>
                <select class="form-control" id="category-menu">
                  <option>--- choose one ---</option>
                  {{#each categories}}
                  <option> {{categories}} </option>
                  {{/each}}
                </select>
              </div>

              <button type="submit" id="save-exp" class="btn expBtn"><span>Save</span></button>
              <button type="submit" id="close-exp" class="btn expBtn"><span>Cancel</span></button>
            </div>
      </div>
    </div>

  </div>
</main>



{{!-- <div class="spendingInput col-md-8">
  <form>
    <div class="form-group">
      <label
        for="exampleFormControlSelect1">category</label>
      <select class="form-control"
        id="exampleFormControlSelect1">
        {{#each categories}}
        <option> {{categories}} </option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label
        for="exampleFormControlInput1">Description</label>
      <input type="text" class="form-control"
        id="exampleFormControlInput1"
        placeholder="Description">
    </div>
    <div class="form-group">
      <label
        for="exampleFormControlTextarea1">amount</label>
      <input id="expensesAmount" type="text" class="form-control"
        id="exampleFormControlTextarea1"></input>
    </div>
    <button id="expensesBtn" type="button"
      class="btn btn-primary">submit</button>
  </form>
</div> --}}